# temp data
tmp/
tmp_repo
tmp_data

# dotenv environment variables file
.env
.env.test
.env.*

# deno - ignore for it's throwing error on mismatch intermittently
deno.lock
www/deno.lock

# fresh - build
www/_fresh

# Dev machine
.DS_Store

# Silver Bullet
data/data.db*
data/_plug
data/.silverbullet.db*
data/Cypress*status.md
data/Test*Cases.md
