name: Validate changes

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  ZEPHYR_TOKEN: ${{ secrets.ZEPHYR_TOKEN }}
  JIRA_PAT: ${{ secrets.JIRA_PAT }}
  EMAIL: ${{ secrets.EMAIL }}

jobs:
  test:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Setup repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: denoland/setup-deno@4606d5cc6fb3f673efd4f594850e3f4b3e9d29cd # v2.0.0
        with:
          deno-version: "2.1.5"

      - name: Verify formatting
        run: deno task check

      - name: Validate changes
        run: deno task validate

      - name: Validate all
        run: deno task validate-all

      - name: Check spellings
        uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630 # v2.1
        with:
          ignore_words_file: .codespellignore
          path: data

      - name: Get branch names
        id: branch-name
        uses: tj-actions/branch-names@v9

      - name: Save changes
        if: steps.branch-name.outputs.is_default == 'true'
        run: deno task save

      - name: Sync changes
        if: steps.branch-name.outputs.is_default == 'true'
        run: deno task sync

      - uses: stefanzweifel/git-auto-commit-action@v4
        if: steps.branch-name.outputs.is_default == 'true'
        with:
          commit_message: "chore(data): Sync"
          add_options: '-u'
          skip_dirty_check: true
          commit_user_name: mattermost-quality
          commit_user_email: ${{ secrets.EMAIL }}

